/.idea/.gitignore
/.idea/deep-rule-visualizer.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/vcs.xml
/features_*
/trained_model_*
/trained_model_*/model.pkl
/testdata_results_*
/results_*/*
/results_*/final.pkl
